<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
          <lable><h2>SIMS - SCHOOL INFORMATION MANAGEMENT SYSTEM</h2></lable>
        <img src="/images/nature.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Students List</h2>
          <p><a class="btn btn-default" href="#/students" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Mule Foundation</p>
      </footer>
    </div> <!-- /container -->
