<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{student.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{student.name}}</td>
      </tr>
      <!--<tr>-->
          <!--<td>Description</td>-->
          <!--<td>{{student.description}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
          <!--<td>Wreck Condition</td>-->
          <!--<td>{{student.condition}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
          <!--<td>Year Discovered</td>-->
          <!--<td>{{student.yearDiscovered}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
          <!--<td>Depth of Wreck</td>-->
          <!--<td>{{student.depth}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
          <!--<td>Location</td>-->
          <!--<td>{{student.latitude}}, {{student.longitude}}</td>-->
      <!--</tr>-->
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editStudents({id:shipwreck.id})">Edit</a>
  </div>
</div>
